
@use '../base/index' as *;
@use '../partials/variables' as *;


.eligible-uv-card{
    box-shadow: $shadow;
    background-color: $bg-white;
    transition: .4s;
    padding: 1rem;
    &:hover{
        box-shadow: none;
    }
    .uv-logo{
        width: auto;
        height: 5rem;
        object-fit: contain;
    }
    .table{
        margin-top: .5rem;
        font-size: .875rem;
        text-align: left;
        // thead{
        //     th, td{
        //         background-color: $bg-light;
        //     }
        // }
        th{
            color: $primary;
            font-weight: 500;
            // padding-left: .5rem;
        }
        td{
            color: $dark;
            padding-left: 0;
        }
    }
    .rank{
        font-size: 1rem;
        font-weight: 500;
        color: $dark;
    }
    
}