@use 'colors' as *;
@use 'typography' as *;
@use '../partials/variables' as *;

@media (max-width: 992px) {
    body{
        padding-bottom: 50px;
    }
}



ul{
    list-style: none;
    padding-left: 0px;
    li{padding: .2rem 0;}
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}


img, svg {
    vertical-align: middle;
}

img {
    width: auto;
    max-width: 100%;
}

.form-control, .form-select{

    &::placeholder {
        color: #b1b1b1; /* Replace with any color you want */
        opacity: 1;     /* Optional: Ensure full visibility */
        font-size: .875rem;
    }
}

.form-control:focus, .form-select:focus{
    box-shadow: none;
    border: 1px solid $primary;
    outline: none;

}


.form-select:focus{
    box-shadow: none;
    border: 1px solid $primary ;
    outline: none;
    option{
        &:hover{
            background: $danger !important;

        }
    }
}

main{overflow: hidden;}



// scroll bar 


// /* Firefox */
// // html {
// //     scrollbar-color: #888 #f1f1f1;
// //     scrollbar-width: thin;
// // }

// /* WebKit-based browsers */
// ::-webkit-scrollbar {
//     width: 6px;
// }

// ::-webkit-scrollbar-track {
//     background: lighten($color: $primary, $amount: 40);
// }

// ::-webkit-scrollbar-thumb {
//     background-color: $secondary;
//     border-radius: 4px;
//     // border: 3px solid #f1f1f1;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: $primary;
// }


