

@use "../base/colors" as *;

@import url(./node_modules/bootstrap/scss/bootstrap.scss);



// $shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
// $shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-sm: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$shadow-light: rgba(0, 0, 0, 0.1) 0px 10px 50px;

$shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-lg-dark: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

$gradient-primary: linear-gradient(90deg, $primary, lighten($primary, 16));
$gradient-secondary: linear-gradient(90deg, $secondary, lighten($secondary, 16));


